{% extends 'base.html.twig' %}

{% block body %}
    <h1>Livre creation</h1>

    {{ form_start(form) }}
    {% form_theme form 'jquery.collection.html.twig' %}
        {{ form_widget(form) }}
        <div class="g-recaptcha" data-sitekey="{{ captchaOwnerKey }}"></div>
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('livre_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
